<mat-card>
  <mat-card-title>My Profile</mat-card-title>

  <mat-form-field>
    <mat-label for="friend_code">Friend Code:</mat-label>
    <input
      matInput
      name="friend_code"
      value="get user id through hash=friend code"
      disabled
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="bump_link">Bump Link</mat-label>
    <input
      matInput
      name="bump_link"
      value="foodfrenzy.get code to associate with user bump"
      disabled
    />
  </mat-form-field>

  <button mat-button id="change_bump_link">Change Link</button>

  <mat-form-field>
    <mat-label for="buy_link">Buy Link</mat-label>
    <input
      matInput
      name="buy_link"
      value="foodfrenzy.get code to associate with user buy"
      disabled
    />
  </mat-form-field>

  <button mat-button id="change_buy_link">Change Link</button>

  <mat-label for="nobump">Disable Bumping</mat-label>
  <input type="checkbox" name="nobump" />

  <mat-label for="nobump">Disable Buying</mat-label>
  <input type="checkbox" name="nobuy" />

  <input name="address" placeholder="Delivery Address" />
  <input name="city" placeholder="City" />
  <input name="state" placeholder="State" />
  <input name="zipcode" placeholder="Zipcode" />
  <input name="contact" placeholder="Email Address or Phone Number" />

  <input name="allergies" placeholder="Allergies/Preferences" />

  <mat-label for="bump_limit">Bump limit: $</mat-label
  ><input name="bump_limit" placeholder="$$" />
  <mat-label for="bump_period">per</mat-label>
  <select name="bump_period">
    <option value="day" selected="selected">Day</option>
    <option value="week">Week</option>
    <option value="month">Month</option>
    <option value="year">Year</option>
  </select>

  <mat-label for="buy_limit">Buy limit: $</mat-label
  ><input name="buy_limit" placeholder="$$" />
  <mat-label for="buy_period">per</mat-label>
  <select name="buy_period">
    <option value="day">Day</option>
    <option value="week">Week</option>
    <option value="month">Month</option>
    <option value="year">Year</option>
  </select>
</mat-card>
