<app-header></app-header>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <div>
      <button mat-button routerLink="/auth">
        <mat-icon> lock </mat-icon>
        Auth
      </button>
    </div>
    <div>
      <button mat-button routerLink="/home">
        <mat-icon> home </mat-icon>
        Home
      </button>
    </div>
    <div>
      <button mat-button routerLink="/friend">
        <mat-icon> face </mat-icon>
        Friend
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
